<footer>
    <div class="footer">
        <div class="footer-section poiret-one-regular">
            <h4>About Me</h4>
            <p>Christchurch based wedding videographer, blending modern filmmaking with nostalgic Super 8 to capture
                your day anywhere
                in New Zealand.</p>
        </div>



        <div class="footer-section poiret-one-regular">
            <h4>Contact</h4>
            <p>super8tim@proton.me</p>
            <div class="social-icons">
                <a href="https://www.youtube.com/@super8tim"><img src="./images/icons/youtube.jpg" alt="YouTube" /></a>
                <a href="https://www.instagram.com/super8tim/"><img src="./images/icons/Instagram.png"
                        alt="Instagram" /></a>
                <a href="https://www.tiktok.com/@super8tim"><img src="./images/icons/tiktok.png" alt="TikTok" /></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; 2025 Super8Tim. All rights reserved.
    </div>
</footer>